*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;
}
body{
	height: 100vh;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}
    .c_image{
        padding-left: 90px;
        padding-top: 10px;
    }
	.wrapper{
	margin: 130px auto;
	max-width:  500px;
	width: 100%;
	background: rgba(244, 162, 162, 0.59);
	border-radius: 17px;
	padding:  25px;
	
}
.wrapper header{
	font-family:Forte;
	font-size: 60px;
	font-weight: 400px;
    text-align: center;
}
p {
	font-size:10px;	
	font-weight: 700;
  }
  .account p{
	margin: 10px 10px;
  }
  .column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .column {
    float: left;
  }
  img{
    padding-left: 70px;
    width: 400px;
  }