<!DOCTYPE html>
<html>
    <head>
        <title>WAYBIC</title>
        
        <link rel="stylesheet" href="{{url_for('static',filename='css/ctus.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="up">
            <div class="tl">
                <img src="{{url_for('static',filename='images/hackbck.png') }}" width="400px" height="550px">
            </div>
            <div class="navbar">
                
                <form class="ci" method="POST">
                    <label>UserName :</label>
                    <input type="text" name="username" id="username" >
                    <br>
                    <br>
                    <label>UserEmail  :</label>
                    <input type="text" name="email_id" id="email_id">
                    <br>
                    <br>
                    <label>YourQuery :</label>
                    <input type="text" name="query" id="query" class="lg">
                    <br><br><br><br>
                    <input id="sbt" type="submit">
                </form>
            </div>
            </div>

            <br><br><br><br>
            
            
        </div>
    </body>
</html>



