<!DOCTYPE html>
<html>
    <head>
        <title>shoulder surfing</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/gamesb.css') }}">
    </head>
    <body>
        <div class="body">
        <div class="gmain">
           
            <div class="cont">
                <div class="gmimg">
                    <div class="gifrimg">
                        <img src="{{url_for('static',filename='images/password_typing.gif')}}">
                    </div>
                </div>
                <div class="panout">
                <div class="pannel">
                    <div class="box">
                        <button type="button" id="tsk" name="tsk"> <a href="">TASK</a></button>
                        <p style="color: white;">Help jacob to unlock bob's phone<br>and enter the password below<br> </p>
                       
                    </div>
                    <div class="hnt" id="hnt">
                         <form method="post">
                         <input type="text" name="gans" id="gans"  required placeholder="                 ENTER HERE">
                         <br>
                         <br>
                         <input type="submit" >
                        </form>
                        <br>
                         <br>
                        <div class="htbt">
                            <button type="button" id="ht" onclick="openhint()"><h2>HINT</h2></button>
                            </div>
                    </div>
                    <div class="btns">
                        <div class="prpg">
                        <button type="button" id="ppg"> <a href="">NEXT</a></button>
                        </div>
                        <div class="nxpg">
                        <button type="button" id="npg"> <a href="{{url_for('gamebegin2')}}">PREV</a></button>
                        </div>
                    </div>
                    <div class="foot">
                        <button type="button" id="tsk2" name="tsk2"> <a href=""></a></button>
                    </div>
                    </div>
            </div>
            </div>
        </div>
        </div>
        <script src="{{url_for('static',filename='js/hint.js') }}"></script>
    </body>
</html>