<html>
    <head>
        <title>cyberhunt</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/instruction.css') }}">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo">
                    <i class="gpd"></i>
                    <p>CYBER HUNT</p>
                </div>
                <ul class="navbar">
                    <li><a href="#" class="active">ABOUT</a></li>
                    <li><a href="#">INSTRUCTIONS</a></li>
                    <li><a href="#">EXIT</a></li>
                    <li><a href="#">SIGN OUT</a></li>
                </ul>
                <button class="button" type="button" id="btn"><i class="play">START</i></button>
            </header>

            <div class="bdc">
                <div class="wrapper">
                    <div class="des">
                        <h1>CYBER HUNT</h1>
                        <p>Hey Buddies !! trying to know more about social engineering ?</p>
                        <p> Here you go ... dig deep into the world of <span>cyber security</span> </p>
    
                        <button type="button" id="btn-2"> <a href="{{url_for('gamebegin') }}">START HUNT</a></button>
    
                    </div>
                </div>


                <div class="wrmid">
                    <img src="{{url_for('static',filename='images/hackbck.png')}}" width="500px" height="800px"> 
                </div>

                <div class="wrapper2">
                    <div class="ipop">
                        <form class="ins">
                            <div class="upmst">
                                <a href="{{url_for('homech')}}"><h1>X</h1></a>
                            </div>
                            <br>
                            <div class="ibdy">
                                <h1 align="center">RULES</h1>
                                <P>SOME PAGES MAY ALLOW YOU TO NAVIGATE <BR> ONLY IF YOU GIVE THE CORRECT ANSWERS .<BR> TAKE THE HINTS GIVEN IN THE LEFT SIDE AND FIND OUT THE ANSWERS </P>
                            </div>
                            <div class="ift">
                                <div class="skip">
                                    <a href="{{url_for('homech')}}"><h1>SKIP</h1></a>
                                </div>
                                <div class="prev">
                                    <a href="{{url_for('instruction2')}}"><h1><</h1></a>
                                </div>
                                <div class="nxt">
                                    <a href="{{url_for('homech')}}"><h1>></h1></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br><br>
                    <div class="des2">
                        <h1>HOW TO PLAY</h1>
                        <p>Before hoping in go through the instructions</p>
                        <p>and learn about <span> key controls</span> of the game </p>
    
                        <button type="button" id="btn-3"> <a href="{{url_for('instruction1')}}">HOW TO PLAY</a></button>
    
                    </div>
                    <div class="hunt"></div>
                </div>
            </div>


        </div>
    </body>
</html>