<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link href="{{url_for('static',filename='css/login.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="column">
                <img src="{{url_for('static',filename='images/cyber.jpg')}}" height="700px" width="40%"
            </div>
            <div class="column">
            <div class="wrapper">
                <header> Login </header>
            <br>
        <form action="{{ url_for('login') }}" method="post">
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="input">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" >
            </div>
            <div class="input">
                <label for="password">Password:</label>
                <input type="password" class="input" id="password" name="password" placeholder="Enter password" name="pswd">
            </div>    
            <button type="submit" class="button" value="Login">Login</button>		
        </form>
    </div>
</div>
    </body>
