<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link href="{{url_for('static',filename='css/login.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="column">
                <img src="{{url_for('static',filename='images/cyber.jpg')}}" height="700px" width="40%"
            </div>
            <div class="column">
            <div class="wrapper">
                <header>CHANGE PASSWORD</header>
            <br>
        <form action="{{ url_for('password_change') }}" method="post">
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}		
            <div class="form-group">
                <label for="country">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="country">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm_pass" name="confirm_pass">
            </div>
            <input type="hidden" id="userid" name="userid" value="{{ changePassUserId }}">
            <button type="submit" class="button">Update</button>		
        </form>
    </div>
</div>
    </body>