<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/QUIZZ.CSS') }}">
    </head>
    <body>
        <div class="main">
            <div class="oct">
                <form method="POST">
                    <p id="1" name="1">Performing Shoulder Surfing in order to check other's passwords is a ..... ethical practice </p>
                    <br><br><br>
                    <input type="radio" id="option" name="option" value="Bad">
                    <label for="option">Bad</label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Good">
                    <label for="option">Good</label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Very Good">
                    <label for="option1">Very Good</label>
                    <br><br>
            
                    <input type="radio" id="option" name="option" value="Not so good">
                    <label for="option1">Not so good</label>
                    <br>
                    <br>
                  <input type="submit" value="submit">
                </form>


                
            </div>
        </div>
    </body>
</html>