<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/QUIZZ.CSS') }}">
    </head>
    <body>
        <div class="main">
            <div class="oct">
                

                <form method="POST">
                    <p id="5" name="5">What is the goal of Social Engineering</p>
                    <br><br><br>
                    <input type="radio" id="option" name="option" value="To build Trust">
                    
                    <label for="option"><b>To build Trust</b></label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="To gain vital personal information">
                    <label for="option"><b>To gain vital personal information</b></label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Catfish someone">
                    <label for="option1"><b>Catfish someone</b></label>
                    <br><br>
            
                    <input type="radio" id="option" name="option" value="Build Friendship">
                    <label for="option1"><b>Build Friendship</b></label>
                    <br>
                    <br>
                  <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>