<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/QUIZZ.CSS') }}">
    </head>
    <body>
        <div class="main">
            <div class="oct">
                <form method="POST">
                    <p id="4" name="4">How to properly avoid from becoming a victim of Social Engineering? </p>
                    <br><br><br>
                    <input type="radio" id="option" name="option" value="Do not click on suspicious emails">
                    <label for="option"><b>Do not click on suspicious emails</b></label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Do not reveal your passwords to anyone">
                    <label for="option"><b>Reveal your passwords to anyone</b></label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Maintain a low profile">
                    <label for="option1"><b>Maintain a low profile</b></label>
                    <br><br>
            
                    <input type="radio" id="option" name="option" value="all of the above">
                    <label for="option1"><b>all of the above</b></label>
                    <br>
                    <br>
                  <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>