<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/QUIZZ.CSS') }}">
    </head>
    <body>
        <div class="main">
            <div class="oct">
                <form method="POST">
                    <p id="2" name="2">Which of the following is not an example of Social Engineering?</p>
                    <br><br><br>
                    <input type="radio" id="option" name="option" value="Dumpster Diving">
                    <label for="option">Dumpster Diving</label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Shoulder Surfing">
                    <label for="option">Shoulder Surfing</label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="Carding">
                    <label for="option1">Carding</label>
                    <br><br>
            
                    <input type="radio" id="option" name="option" value="Spear Phishing">
                    <label for="option1">Spear Phishing</label>
                    <br>
                    <br>
                    
                  <input type="submit" value="submit">
                </form>

                
            </div>
        </div>
    </body>
</html>