<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/QUIZZ.CSS') }}">
    </head>
    <body>
        <div class="main">
            <div class="oct">
                <form method="POST">
                    <p id="3" name="3">Definition: Social Engineering is an art of manipulating people so they give up confidential information</p>
                    <br><br><br>
                    <input type="radio" id="option" name="option" value="True">
                    <label for="option"><b>True</b></label>
                    <br><br>
                    <input type="radio" id="option" name="option" value="False">
                    <label for="option"><b>False</b></label>
                    <br>
                    <br>
                    
                  <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>