<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/login.css') }} ">
    </head>
    <body>
        <div class="row">
            <div class="column">
              <img src="{{url_for('static',filename='images/cyber.jpg')}}" height="700px" width="40%">
            </div>
            <div class="column">
            <div class="wrapper">
                <header>Sign Up </header>
        <form action="{{ url_for('register') }}" method="post">
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" class="input" id="name" name="name" placeholder="Enter name">
            </div>
            <div class="input">
                <label for="email">Email:</label>
                <input type="text" class="input" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="input">
                <label for="password">Password:</label>
                <input type="password" class="input" id="password" name="password" placeholder="Enter password">
            </div>  
            <div class="input">
                <label for="role">Role:</label>
                <select class="input" id="role" name="role">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>			
                </select>
            </div>
            <div class="input">
                <label for="country">Country:</label>
                <input type="text" class="input" id="country" name="country">
            </div>
            <button type="submit" class="input">Register</button>		
        </form>
    </div>
</div>
    </body>