<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
</head>
<body>
    <header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Fredoka&family=Oswald&display=swap" rel="stylesheet">

    <link href="{{url_for('static',filename='css/succ.css') }}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/suc.css') }}" rel="stylesheet">
    
    
    
    <h1 id="h1-day0">SUCCESS</h1>
</header>
<main>
    <ul>
        <li>
        <h2>LEVEL 1 : SHOULDER SURFING </h2>
    <p class="try">CONGRATULATIONS !! SUCCESSFULLY COMPLETED LEVEL : 1</p>
    <p>PROCEED TO NEXT LEVEL</p>
    </li>
    </ul>
    <form method='POST'>
        <input type="submit" value="Next" name="next" id="next"></input>
    </form>
    

</main>
</body>
</html>