<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link href="{{url_for('static',filename='css/users.css')}}" rel="stylesheet">
    </head>
    <body>
        <table class="userstable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Country</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.country}}</td>
                <td><a href="{{url_for('view', userid=user.userid)}}" class="button">View</a></td>
                <td><a href="{{url_for('edit', userid=user.userid)}}" class="button">Edit</a></td>
                <td><a href="{{url_for('password_change', userid=user.userid)}}" class="button">Change Password</a></td>
                
            </tr> 
            {% endfor %}	  
            </tbody>
        </table>	
    </body>